html {
    body {
        width: 100%;
        margin: 0 0 0 0;
        h1 {
            padding-top: 50px;
        }
        td,
        p {
            text-align: center;
        }
        .navbar {
            padding-right: 25px;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            img {
                height: 50px;
                float: left;
            }
            .navbar-right li a {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        .navbar-title {
            padding: 15px 15px 15px 15px;
            color: #ffffff;
        }
        .jumbotron {
            margin-bottom: 0px;
            background-color: #2ecc71;
            height: 600px;
            h1 {
                text-align: center;
                font-family: 'Poiret One', cursive;
                padding-top: 15%;
                font-size: 1000%;
                font-weight: bolder;
            }
            h2 {
                text-align: center;
                font-family: 'Poiret One', cursive;
                font-size: 200%;
                font-weight: bolder;
            }
        }
        .preview-box {
            height: 500px;
            h2 {
                font-family: 'Coda', cursive;
                font-weight: 800;
                text-align: center;
                font-size: 500%;
                padding-top: 30%;
            }
            button {
                border: 2px solid #000000;
                color: #000000;
                background-color: #a8a8a8;
            }
            button:hover {
                background-color: #d8d8d8;
            }
            a:visited {
                color: #000000;
            }
            button {
                font-family: 'Coda', cursive;
                font-weight: 600;
                text-align: center;
                padding: 5px 10px 5px 10px;
                margin-left: 40%;
            }
        }
        .mitosis {
            background-image: url(mitosis-preview.png);
            opacity: 0.5;
            color: #ffffff;
        }
        .mitosis:hover {
            opacity: 0.8;
            color: #000000;
        }
        .meiosis {
            background-image: url(meiosis-preview.jpg);
            opacity: 0.5;
            color: #ffffff;
        }
        .meiosis:hover {
            opacity: 0.8;
            color: #000000;
        }
        .footer {
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #000000;
            p {
                margin-bottom: 0;
                font-family: "Comic Sans MS", cursive, sans-serif;
                color: #ffffff;
            }
        }
        table{
            margin-left: auto;
            margin-right: auto;
            font-size: 32px;
            font-family: 'Comfortaa', cursive;
            td{
                padding: 15px 15px 15px 15px; 
                border-right: 2px solid #000000;
            }
            .header{
                font-size: 40px;
                font-family: 'Patua One', cursive;
            }
            img{
            width: 10%;    
            }
        }
    }
}